<!-- <video #streamView width="400" autoplay>
  <source type='video/webm; codecs="opus,vp8"'>
  Your browser does not support HTML5 video.
</video> -->

<!-- <ng-template [ngIf]="toggle">
  <div *ngFor="let obj of this.peerConnList">
    {{obj.remote_user}}
    <video width="400" [srcObject]="obj.remoteStream" autoplay>
    </video>
  </div>
</ng-template> -->


<!-- <ng-select [(ngModel)]="selectedRoom">
  <ng-option *ngFor="let room of getRoomList()" [value]="room">{{room.id}}</ng-option>
</ng-select> -->

<hr />
<video id="local-video-container" #streamView width="40" height="40" autoplay>
  <source type='video/webm; codecs="opus,vp8"'>
  Your browser does not support HTML5 video.
</video>
<div id="remote-video-container" *ngFor="let obj of this.peerConnList">
  <video width="40" height="40" [srcObject]="obj.remoteStream" autoplay>
  </video>
</div>

<!--<ng-template [ngIf]="toggle">-->
<!--  <div *ngFor="let obj of this.peerConnList">-->
<!--    {{obj.remote_user}}-->
<!--    <video width="400" [srcObject]="obj.remoteStream" autoplay>-->
<!--    </video>-->
<!--  </div>-->
<!--</ng-template>-->

<!-- <ul class="rooms list-group">
  <li *ngFor="let room of getRoomList()" class="room list-group-item"
    [ngClass]="{ 'active': room.id === selectedRoom?.id }" (click)="onClickOnRoom(room)">
    {{ room.id }}</li>
</ul> -->
<hr />
<div *ngIf="this.identity">
  Hello <b>{{this.identity}}</b> !
</div>
<hr />
<ul *ngIf="this.identity" class="rooms list-group">
  <li *ngFor="let room of getRoomList()" class="room list-group-item list-group-item-action" [ngClass]="{
      'active': room.id === selectedRoom?.id,
      'bg-warning': room?.joined === true,
      'joined': room?.joined === true
    }" (click)="onClickOnRoom(room)" (mouseenter)="room.hovered = true" (mouseleave)="room.hovered = false">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{room.name}}</h5>
      <small class="sub-text" [ngClass]="{'hovered' : room?.hovered === true, 'joined': room?.joined === true }">
        <span *ngIf="!room.peer.includes(this.identity)">{{room.status}}</span>
        <span *ngIf="room.peer.includes(this.identity) && room.status === 'connected'">
          {{room.status}}</span>
      </small>
    </div>
    <p *ngIf="room.peer?.length" class="mb-1">Members: {{room.peer}}</p>
    <p *ngIf="!(room.peer?.length)" class="mb-1">No members</p>
    <small class="sub-text" [ngClass]="{'hovered' : room?.hovered === true, 'joined': room?.joined === true }">
      {{ showRoomTips(room)}}
    </small>
    <span>

    </span>

  </li>
</ul>

<div *ngIf="!this.identity"><i>You have not specified your identity yet!</i></div>

<!-- <button (click)="initIdentity('Ty1')">Ty1</button>
<button (click)="initIdentity('Ty2')">Ty2</button>
<button (click)="initIdentity('Ty3')">Ty3</button>
<button (click)="check()">check</button> -->
