<!-- <video #streamView width="400" autoplay>
  <source type='video/webm; codecs="opus,vp8"'>
  Your browser does not support HTML5 video.
</video> -->

<!-- <ng-template [ngIf]="toggle">
  <div *ngFor="let obj of this.peerConnList">
    {{obj.remote_user}}
    <video width="400" [srcObject]="obj.remoteStream" autoplay>
    </video>
  </div>
</ng-template> -->


<!-- <ng-select [(ngModel)]="selectedRoom">
  <ng-option *ngFor="let room of getRoomList()" [value]="room">{{room.id}}</ng-option>
</ng-select> -->

<!--<ng-template [ngIf]="toggle">-->
<!--  <div *ngFor="let obj of this.peerConnList">-->
<!--    {{obj.remote_user}}-->
<!--    <video width="400" [srcObject]="obj.remoteStream" autoplay>-->
<!--    </video>-->
<!--  </div>-->
<!--</ng-template>-->

<!-- <ul class="rooms list-group">
  <li *ngFor="let room of getRoomList()" class="room list-group-item"
    [ngClass]="{ 'active': room.id === selectedRoom?.id }" (click)="onClickOnRoom(room)">
    {{ room.id }}</li>
</ul> -->
<div class="user" *ngIf="this.identity">
  Hello <b>{{this.identity}}</b> !
  <div class="duplicateIdentity" *ngIf="isDuplicatedIdentity">
    <span class="alert">{{identity}} has been logged in on different places.</span>
    <li>
      Please try:
      <ul>Open JAM on only one browser tab</ul>
      <ul>Open JAM on only one device</ul>
      <ul>Try to use another email</ul>
    </li>
  </div>
</div>
<div *ngIf="allowedGetUserMedia">
  <div class="search">
    <div class="mb-3">
      <label for="search-keyword" class="form-label"></label>
      <input #searchKeyword type="text" class="form-control" id="search-keyword"
        aria-describedby="search-keyword-helper" placeholder="Find your friends" (keyup)="search(searchKeyword.value)">
      <div id="search-keyword-helper" class="form-text"></div>
    </div>
  </div>

  <ul *ngIf="showList()" class="rooms list-group">
    <li *ngFor="let room of getRoomListUI()" class="room list-group-item list-group-item-action"
      (mouseenter)="room.hovered = true" (mouseleave)="room.hovered = false">
      <div class="d-flex justify-content-between">
        <small class="sub-text" [ngClass]="{'hovered' : room?.hovered === true, 'joined': room?.joined === true }">
          <!-- <span *ngIf="!room.peer.includes(this.identity)">{{room.status}}</span>
          <span *ngIf="room.peer.includes(this.identity) && room.status === 'connected'">
            {{room.status}}</span> -->
          <!-- {{room.status}} -->
          <span *ngIf="room.status === 'connected'" class="green-oval"></span>
        </small>
      </div>
      <!-- <p *ngIf="room.peer?.length" class="mb-1 peer">{{showPeers(room.peer)}}</p>
      <p *ngIf="!(room.peer?.length)" class="mb-1">No members</p>
      <small class="sub-text" [ngClass]="{'hovered' : room?.hovered === true, 'joined': room?.joined === true }">
        {{ showRoomTips(room)}}
      </small> -->
      <p *ngIf="room.peer?.length" class="mb-1 peer">{{showPeers(room.peer)}}</p>
      <p *ngIf="!(room.peer?.length)" class="mb-1">No members</p>
      <!-- <small class="sub-text" [ngClass]="{'hovered' : room?.hovered === true, 'joined': room?.joined === true }">
        {{ showRoomTips(room)}}
      </small> -->
      <div class="btn-group">
        <div class="text-center">
          <button *ngIf="room.status === 'connected' && muted === false" class="btn btn-primary mute"
            (click)="mute()">Mute</button>
          <button *ngIf="room.status === 'connected' && muted === true" class="btn btn-primary unmute"
            (click)="unmute()">Unmute</button>
        </div>

        <button class="join btn" [ngClass]="{ 'join-group': room && room.peer && room.peer.length >= 2 }"
          *ngIf="currentRoomName !== room?.name && room.status !== 'connected'" (click)="onClickOnRoom(room)">
          {{ room && room.peer && room.peer.length >= 2 ? 'Join' : 'Talk' }}
        </button>
        <button class="leave btn" *ngIf="room.status === 'connected'" (click)="leaveRoom()">Leave</button>
        <span class="connecting-status"
          *ngIf="selectedRoom?.name === room?.name && status === 'connecting'">Connecting...</span>
      </div>
    </li>
  </ul>

</div>

<div *ngIf="!allowedGetUserMedia" class="text-center text-white bg-danger">
  Mic disabled.
</div>


<!-- <button (click)="initIdentity('Ty1')">Ty1</button>
      <button (click)="initIdentity('Ty2')">Ty2</button>
      <button (click)="initIdentity('Ty3')">Ty3</button>
<button (click)="check()">check</button> -->

<video id="local-video-container" #streamView width="0" height="0" autoplay muted="true" volume=0>
  <source type='video/webm; codecs="opus,vp8"'>
  Your browser does not support HTML5 video.
</video>
<div id="remote-video-container" *ngFor="let obj of this.peerConnList">
  <video width="0" height="0" [srcObject]="obj.remoteStream" autoplay>
  </video>
</div>
<!-- <button (click)="check()">check</button> -->
