.rooms {
  .room {
    min-width: 300px;
    max-width: 800px;
    width: 100%;
    .peer {
      word-break: break-all;
      font-size: 14px;
    }
    cursor: pointer;
    &.joined {
      color: black;
    }
    .sub-text {
      color: #6c757d;
      &.hovered {
        color: whitesmoke;
      }
      &.joined {
        color: black;
      }
    }

    .btn-group {
      display: flex;
      justify-content: flex-end;
      button {
        background-color: transparent;
        color: green;
        border: solid 1px;
        height: 33px;
        font-size: 14px;
        font-weight: bold;

        &.join {
          color: green;
          border-color:green;
        }

        &.leave {
          color: red;
          border: none;
          font-weight: initial;
        }
      }
    }
  }
}

#local-video-container {
}

#remote-video-container {
}

.user {
  text-align: center;
  .status {
    color: white;
    margin: 1rem 2rem 1rem 1rem;
  }

  .duplicateIdentity {
    display: block;
    margin-top: 20px;

    .alert {
      background: red;
      color: white;
      font-size: 13px;
      padding: 10px;
      border: solid 1px white;
      text-align: left;
    }

    li {
      text-align: left;
      margin-top: 20px;
      font-size: 13px;
      ul {
        margin: 0px;
      }
    }
  }
}

.green-oval {
  background-color: green;
  width: 10px;
  border: 1px solid green;
  position: absolute;
  height: 10px;
  border-radius: 50%;
  right: 18px;
  top: 10px;
}
