.rooms {
  .room {
    .peer {
      word-break: break-all;
      font-style: italic;
    }
    cursor: pointer;
    &:hover {
      background-color: #0c6efd;
      color: white;
    }
    &.joined {
      color: black;
    }
    .sub-text {
      color: #6c757d;
      &.hovered {
        color: whitesmoke;
      }
      &.joined {
        color: black;
      }
    }
  }
}

#local-video-container {
}

#remote-video-container {
}

.user {
  text-align: center;
  .status {
    color: white;
    margin: 1rem 2rem 1rem 1rem;
  }
}

.green-oval {
  background-color: green;
  width: 10px;
  border: 1px solid green;
  position: absolute;
  height: 10px;
  border-radius: 50%;
}
