<video #streamView width="40" height="40" autoplay>
  <source type='video/webm; codecs="opus,vp8"'>
  Your browser does not support HTML5 video.
</video>
<div *ngFor="let obj of this.peerConnList">
  <video width="40" height="40" [srcObject]="obj.remoteStream" autoplay>
  </video>
</div>

<!--<ng-template [ngIf]="toggle">-->
<!--  <div *ngFor="let obj of this.peerConnList">-->
<!--    {{obj.remote_user}}-->
<!--    <video width="400" [srcObject]="obj.remoteStream" autoplay>-->
<!--    </video>-->
<!--  </div>-->
<!--</ng-template>-->
<div *ngIf="this.identity">
  You are: {{this.identity}}
  <div *ngFor="let room of roomList">
    room name: {{room.room_name}} -
    peers: {{room.peer}} -
    <button *ngIf="this.identity !== null && !room.peer.includes(this.identity)"
      (click)="joinAudioRoom(room.room_name, this.currentRoomName)">Join {{room.room_name}}</button>
    <span *ngIf="!room.peer.includes(this.identity)"> - Connection status: {{room.status}}</span>
    <span *ngIf="room.peer.includes(this.identity) && room.status === 'connected'"> - Connection status:
      {{room.status}}</span>
  </div>
</div>
<div *ngIf="!this.identity">You not specify identity yet</div>

<button (click)="initIdentity('Ty')">Ty</button>
<button (click)="initIdentity('Nhat')">Nhat</button>
<button (click)="initIdentity('Vuong')">Vuong</button>
<button (click)="initIdentity('Duc')">Duc</button>
<button (click)="check()">check</button>
